<div data-controller="confetti" class="flex flex-col items-center gap-8 mt-64"/>
<%= content_tag :div, 'UdaÅ‚o ci siÄ™ zaoszczÄ™dziÄ‡ 4kg plastiku â™»ï¸' %>
<%= content_tag :div, 'UdaÅ‚o ci siÄ™ zaoszczÄ™dziÄ‡ 4kg CO2 ðŸ’¨' %>
</div>
